/* ----------------------------------------------------------------------------------- */
/* ---------------------- Para dispositivos mobiles ---------------------------------- */
/* ----------------------------------------------------------------------------------- */

/* los elementos no crescan mas alla de lo proprcionado inicialmente */
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth; /* animacion la cual desplaza con suavidad entre las partes de la pagina web */
}

body{
    margin: 0%;
}

/* --------------------- Textos ------------------------------ */
h1{ 
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

.color-acento{
    color: blueviolet;
}

/* --------------------- Botones ------------------------------ */
button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5); /* sombra */
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(101, 33, 165);
}

/* --------------------- Container ------------------------------ */
/* el contenido se centra si supera los limites de pixeles */
.container { 
    max-width: 1400px;
    margin: auto;
}

/* ------------------------- Menú ------------------------------------------- */
header{
    background-color: rgb(245, 245, 245);
}

header .logo{
    margin: 0;
    padding: 25px 30px; /* 1er no. izquiera-derecha --> 2do no. arriba-abajo */
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}
/* info sobre contenedor flex --> https://developer.mozilla.org/es/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox */
header .container{
    display: flex;  /* para convertir en modulo de caja flexible; es decir se crea un contenedor FLEX */
    flex-direction: column; /* ordenar en columna el contenedor flex */
    align-items: center; /* alineará los ítems sobre el eje cruzado (eje Y) de manera central */
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

/* ------------------------- 1ra pestaña ------------------------------------------- */
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;  /* vh --> utilizaria el 90% de la pantalla */
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), /* poner 1er filtro negro transparente */
        rgba(0,0,0,0.5)  /* poner 2do filtro negro transparente */
    ), url("imagenes/hero.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}

#hero h1{
    color: white;
}

/* ------------------------- 2da pestaña ------------------------------------------- */

#somos-proya .container{
    text-align: center;
    padding: 200px 12px;
}

/* ------------------------- 3ra pestaña ------------------------------------------- */

#nuestros-programas{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}
#nuestros-programas .container{
    padding: 150px 12px;
}

#nuestros-programas h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-programas p{
    display: none;     /* no mostrar el parrafo */

}

#nuestros-programas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("imagenes/codigo.jpg"); 
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("imagenes/front.jpg"); 
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("imagenes/work.jpg"); 
}

/* ------------------------- 4ta pestaña ------------------------------------------- */

#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas li{
    margin: 16px 10px;
    font-weight: bold;
}

/* ------------------------- 5ta pestaña ------------------------------------------- */

#final{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;  /* vh --> utilizaria el 90% de la pantalla */
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("imagenes/front.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}
#final h2 {
    font-size: 9vw; /* vw = es para que el texto cresca con el tamaño de la pantlla en la q se muestra */
}

#final button{
    font-size: 5vw;
}

/* ------------------------- Pie de pagina ------------------------------------------- */

footer{
    text-align: center;
    background-color: rgb(235, 235, 235);
}

footer p{
    margin: 0;
    padding: 25px;     /* para que no este tan pegado en la paarte inferior  del bloque*/
    color: rgb(100, 100, 100);
}


footer .container{
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: flex-end;     /* colocar items en la parte inferior del bloque */

}

/* ----------------------------------------------------------------------------------- */
/* ------------------------- Para escritorio ----------------------------------------- */
/* ----------------------------------------------------------------------------------- */

@media (min-width:720px){ /* cuando la pantalla supere los 720px se aplicara lo contenido adentro */

    /* ------------------------- Menú ------------------------------------------- */

    header{
        
        position: fixed; /* poner el menu fijado mientras se desplasa */
        width: 100%;         /* que abarque toda la pantalla */
    }

    header .container{
        flex-direction: row;         /* acomodar texto */
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;         /* acomodar texto */
        padding-bottom: 0;
        padding-right: 25px; /* dar aire del lado derecho */
    }



    /* ------------------------- 2da pestaña ------------------------------------------- */

    #hero h1{
        font-size: 5em;
    }
    
    #somos-proya .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-proya .texto{
        width: 50%;         /* contenedor ocupa la mitad de pantalla */
        max-width: 600px;
        text-align: initial;     /* poner recargado a la izquierda */
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center; /* contenido al centro del bloque*/
    }

    #somos-proya h2{
        margin-top: 0px;
    }

    #somos-proya .img-container {
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
        ), url("imagenes/codigo.jpg");  
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 500px;
    }


/* ------------------------- 3ra pestaña ------------------------------------------- */

    #nuestros-programas .programas{
        display: flex;
        justify-content: center;
    }

    #nuestros-programas p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-programas h2{
        font-size: 4em;         /* para hacer el texto mas grande */
    }

    #nuestros-programas h3{
        margin-top: 0;
    }

    #nuestros-programas .carta{
        padding: 15px;
        background-size: 100% 110px;         /* para recortar la imagen de fondo */
        background-repeat: no-repeat;
        background-position-y: 0%;
        background-color: rgb(50, 50, 50, 0.5);  /* darle un color al fondo que no abarca la foto */
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }


    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url("imagenes/codigo-crop.jpg"); 
    }
    
    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url("imagenes/front-crop.jpg"); 
    }
    
    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ), url("imagenes/work-crop.jpg"); 
    }

    /* ------------------------- 4ta pestaña ------------------------------------------- */

    #caracteristicas{
        background-image: url("imagenes/3pantallas.jpg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;   /* calc = calcular vw (total del ancho) - 700px */
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    @media (min-width: 1200px){  /* acomodar la imagen dependiendo de la resolucion de pantalla */
        #caracteristicas{
            background-position-x: calc(100vw - 800px) ;
        }
    }

    /* ------------------------- 5ta pestaña ------------------------------------------- */

    #final h2{
        font-size: 5em;

    }

    #final button{
        font-size: 1.5em;
    }

    /* ------------------------- Pie de pagina ------------------------------------------- */

    footer .container{
        justify-content: flex-end;
    }


}


